.clover/
target/
.project
.classpath
.settings/
.idea/
.patch
*.iml
*.ipr
*.iws
.DS_Store
reports/
.directory
atlassian-ide-plugin.xml
performance*.log
.surefire-*
bin/
joker-paper/output/
joker-paper/text/paper.log
flow*.pdf
